*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'MavenPro-Regular', sans-serif;
}
body{
    font-size: 100%;
    list-style-type: none;
    background-color: white;
}